table {
	width: 500px;
	margin: auto;
	margin-top: 5em;
	margin-bottom: -10em;
}
td {
	width: 200px;
	height: 190px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.circle{
	border: 6px solid black;
	width: 100px;
	height: 100px;
	border-radius: 200px;
	cursor: crosshair;
} 

.highlight {
	background-color: #2ecc71;
}
.player1 {
	background-color: #2ecc71;
	border: 6px solid #2ecc71 !important;
}
.player2 {
	background-color: red;
	border: 6px solid red !important;
}
#player2, #player1{
	border: 2px solid black;
	width: 50px;
	height: 50px;
	border-radius: 200px;
}

.disabled {
	cursor: not-allowed
}