table {
	width: 500px;
	margin: auto;
	margin-top: 5em;
	margin-bottom: -10em;
}
td {
	width: 200px;
	height: 190px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.circle{
	border: 6px solid black;
	width: 100px;
	height: 100px;
	border-radius: 200px;
	cursor: crosshair;
} 

.highlight {
	background-color: #2ecc71;
}
.player1 {
	background-color: #2ecc71;
	border: 6px solid #2ecc71 !important;
}
.player2 {
	background-color: red;
	border: 6px solid red !important;
}
#player2, #player1{
	border: 2px solid black;
	width: 50px;
	height: 50px;
	border-radius: 200px;
}

.disabled {
	cursor: not-allowed
}
#overlay {
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#modal {
	position:absolute;
	top: 20%;
	left: 36em;
	/*background:url(tint20.png) 0 0 repeat;*/
	background:rgba(0,0,0,0.2);
	border-radius:14px;
	padding:8px;
	width: 30em;
	height: 10em;
}
#content {
	border-radius:8px;
	background:#fff;
	padding:20px;
	margin-top: 10px;
}
#close {
	background-color: #fff;
}
#playagain {
	width: 200px;
	margin: auto;
}