<!doctype html>
<html class="no-js" ng-app="ticTacToe">
<head>
  <meta charset="utf-8">
  <title>frontend</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp,app}) styles/vendor.css -->
  <link rel="stylesheet" href="styles/vendor.css">

  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/modernizr.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>

  <div class="container" ng-controller="MainCtrl">
    <div class="row">
      <div class="col-md-12">
        {{currentPlayer}}
        <center>
          <h1>Tic Tac Toe</h1>
          <br>
          <br>
        <table>
          <row ctrl="MainCtrl"></row>
        </table>
        </center>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 game">
          <p>Who goes first?</p>
        <div class="col-md-6">
          <span>Player 1<div ng-click="startGame('player1')" id='player1' ng-class="{'player1':currentPlayer.name == 'player1'}"></div></span>
        </div>
        <div class="col-md-6">
          <span>Player 2<div ng-click="startGame('player2')" id='player2' ng-class="{'player2':currentPlayer.name == 'player2'}"></div></span>
        </div>
      </div>
    </div>
  </div>


  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js'></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({app,.tmp}) scripts/main.js -->
  <script src="scripts/ticTacToe.js"></script>
  <script src="scripts/main/main-ctrl.js"></script>
  <script src="scripts/directives/board.js"></script>
  <script src="scripts/directives/row.js"></script>
  <script src="scripts/services/game.js"></script>

  <!-- inject:partials -->
  <!-- angular templates will be automaticaly converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->

</body>
</html>
